<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="recipeForm.invalid">Save</button>
                    <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <hr>
            <div class="row" *ngIf="tags.length > 0">
                <app-tag *ngFor="let tag of tags" [tagText]="tag" [allowDelete]="true"></app-tag>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" name="name" formControlName="name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5">
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <div class="tag-select-group">
                            <select class="form-control" type="text" name="tags" formControlName="tags">
                                <option>Vegan</option>
                            </select>
                            <button class="btn btn-primary" type="button" (click)="onAddTag()">Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="preparationTime">Preparation time</label>
                        <input class="form-control" type="text" name="preparationTime"
                            formControlName="preparationTime">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input class="form-control" type="number" name="price" formControlName="price">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="calories">Calories</label>
                        <input class="form-control" type="number" name="calories" formControlName="calories">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image path</label>
                        <input class="form-control" type="text" name="image" formControlName="imagePath" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" class="image-responsive recipe-image">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" type="text" name="description" rows="6"
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="instructions">Instructions</label>
                        <textarea class="form-control" type="text" name="instructions" rows="6"
                            formControlName="instructions"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-4"><strong>Name</strong></div>
                        <div class="col-xs-3"><strong>Unit</strong></div>
                        <div class="col-xs-3"><strong>Amount</strong></div>
                        <div class="col-xs-2"><strong>Delete</strong></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingControl of ingControls; let i = index" [formGroupName]="i"
                        style="margin-top: 10px">
                        <div class="col-xs-4">
                            <input class="form-control" type="text" formControlName="name">
                        </div>
                        <div class="col-xs-3">
                            <select class="form-select" formControlName="unit" class="form-control">
                                <option value="kilogram(s)">kilograms</option>
                                <option value="gram(s)">grams</option>
                                <option value="liter(s)">liters</option>
                                <option value="mililiter(s)">mililiters</option>
                                <option value="piece(s)">pieces</option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" type="number" step=".01" formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add ingredient
                        field</button>
                </div>
            </div>
        </form>
    </div>
</div>