<div class="row">
  <div class="col-xs-11">
    <input type="text" class="form-control" placeholder="Search recipe..." [(ngModel)]="searchedRecipeName">
  </div>
  <div class="col-xs-1">
    <button class="btn btn-primary" style="float: right" (click)="onRefresh()">Refresh</button>
  </div>
</div>
<hr>
  <div class="col-xs-12">
    <div class="recipes-list-container">
      <app-recipe-item
        *ngFor="let recipeEl of filteredRecipes | recipeSearchFilter:searchedRecipeName:'name'; let i = index"
        [recipe]="recipeEl" [index]="i">
      </app-recipe-item>
    </div>
  </div>